
/* ====== NAVBAR - BANNER ===== */

.event-ban{
    width: 100vw;
    max-height: 500px;
    background-image: url(../img/event-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 768px){
    .event-ban h1{
        padding-top: 50px;
    }
}
@media (min-width:992px){
    .navbar{
        background-color: #022780;
        height: 75px;
        width: 100%;
    }
    
    .navbar-nav{
        margin-right:1em;
    }
    
    .event-ban{
        opacity: 0;
        animation: appeare 0.5s 0.8s ease-out forwards;
    }

    .event-ban h1{
        opacity: 0;
        transform: translateX(-200px);
        animation: appeare 0.5s 1s ease-out forwards;
    }
}

@keyframes appeare {
    100%{
        opacity: 1;
        transform: none;
    }
}


/* ======  EVENT  ===== */


.event-container{
    display: flex;
    row-gap: 50px;
}

.event .card{
    min-height: 690px;
    min-width: fit-content;
    border-radius: 93% 7% 97% 3% / 6% 89% 11% 94% ;
    border-top:none;
    border-bottom:none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    background: linear-gradient(transparent,#184ECC);
    transition: 0.5s ease-out;
}

.event .card img{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    width: 90%;
    margin: 20px auto;
}

.event .card-body{
    text-align: center;
}

.card-body p:nth-child(3){
    color:rgba(255, 255, 255, 0.877)
}

.event .container a {
    display: block;
    margin:0 auto;
    margin-top: 20px;
    width: 200px;
}


@media (min-width:992px){
    .event{
         height: fit-content;
    }

    .event .event-container .col:nth-child(1){
        opacity: 0;
        transform: translateX(200px);
        animation: appeare 0.5s 1s ease-out forwards;
    }
    .event .event-container .col:nth-child(2){
        opacity: 0;
        transform: translateX(200px);
        animation: appeare 0.5s 1.2s ease-out forwards;
    }
    .event .event-container .col:nth-child(3){
        opacity: 0;
        transform: translateX(200px);
        animation: appeare 0.5s 1.4s ease-out forwards;
    }
    .event .event-container .col:nth-child(4){
        opacity: 0;
        transform: translateX(200px);
        animation: appeare 0.5s 1.6s ease-out forwards;
    }
    
    .event .card{
        transform: scale(0.9);
    }

    .event .card:hover{
        border-radius:11% 89% 4% 96% / 95% 16% 84% 5%  ;
        cursor: pointer;
        transform: scale(1.05)
    }

    .event .container a svg{
        transition: 0.5s ease-out;
    }

    .event .container a:hover svg{
        transform: translateX(10px) scale(1.5);
    }
}


footer{
        background-color:#022780;
        color:white;
 }
    
